@import "../../../variables.scss";

.switchBlock {
	background: $background;
	width: 310px;
	height: 100%;
	h5 {
		padding: 18px 0 18px 18px;
		color: $mainColor;
		font-size: 19px;
		font-weight: 700;
		line-height: 16px;
	}

	.card,
	.cardActive {
		cursor: pointer;
		border-left: 6px solid transparent;
		display: flex;
		align-items: center;
		margin-bottom: 5px;

		p {
			color: $smallTextColor;
			font-size: 18px;
			font-weight: 400;
			line-height: 45px;
		}

		svg {
			width: 22px;
			height: 22px;
			margin-left: 18px;
			margin-right: 11px;
		}
	}

	.cardActive {
		background: #fff;
		border-left: 6px solid $secondaryColor;
		p {
			color: $secondaryColor;
		}
		svg path {
			fill: $secondaryColor;
		}
	}
	.logOut {
		padding-left: 25px;
		padding-bottom: 22px;
		border-top: 0.3px solid rgba($secondaryColor, 0.3);

		button {
			display: flex;
			align-items: center;
			cursor: pointer;
			margin-top: 19px;
			img {
				margin-right: 7px;
			}
			p {
				color: $secondaryColor;
				font-size: 18px;
				font-weight: 700;
				line-height: 15px;
			}
		}
	}
}
