@import "../../../variables.scss";

.login {
	max-width: 300px;
	padding-top: 52px;
	display: flex;
	align-items: center !important;
	flex-direction: column;
	p {
		color: $mainColor;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
	}
	.form {
		padding-top: 14px;
		display: flex;
		flex-direction: column;
	}
	input {
		width: 300px;
		padding: 12px;
		outline: $secondaryColor;
		border-radius: 5px;
		border: 1px solid #eaeaea;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		&:focus {
			border: 1px solid $secondaryColor;
		}
	}
	.forgot {
		color: $secondaryColor;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		padding-bottom: 27px;
		text-align: end;
	}
	button {
		height: 45px;
		display: flex;
		justify-content: center;
		color: $tertiaryColor;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
	}
	.passwordContainer {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		img {
			position: absolute;
			right: 10px;
			top: 10px;
			cursor: pointer;
		}
	}

	.loginOption {
		max-width: 300px;
		position: relative;
		color: $mainColor;
		font-size: 15px;
		font-weight: 400;
		line-height: 16px;
		margin: 46px 0 27px 0;
		&::before,
		&::after {
			flex: 1;
			content: "";
			position: absolute;
			top: 50%;
			width: 105%;
			height: 1px;
			background-color: #eaeaea;
		}

		&::before {
			left: 100px;
		}

		&::after {
			right: 100px;
		}
	}

	.loginBtn {
		display: flex;
		align-items: center;
		padding: 7px 17px;
		border-radius: 6px;
		cursor: pointer;
		background: $secondaryColor;
		img {
			padding-right: 4px;
		}
		p {
			color: $tertiaryColor;
		}
	}

	.anotherMethods {
		display: flex;
		flex-direction: column;

		button {
			display: flex;
			width: 300px;
			background: none;
			border-radius: 5px;
			border: 1px solid #eaeaea;

			p {
				color: $smallTextColor;
				text-align: center;
				font-size: 15px;
				font-weight: 500;
				line-height: 16px;
			}

			img {
				padding-right: 10px;
			}
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}
